# file=.gitignore

# Compressed files
**/*.zip

# Log files
**/*.log
pdf_generation.log
single_doc_generation.log

# Generated documentation files
baremetal-ir-os-pandoc-include.md
baremetal-ir-os-pandoc-include-toc.md
baremetal-ir-os.html
baremetal-ir-os.pdf
temp_output.html

# Test files
test.html
test.pdf
test-wkhtmltopdf.sh
